__pycache__/
*.pyc
.venv/
venv/
*.egg-info/
build/
dist/
.mypy_cache/
.ruff_cache/
.pytest_cache/
db/*.sqlite3*
/data/
node_modules/
staticfiles/
media_local/
.env
.direnv/
result
result-*
.coverage
htmlcov/
frontend/dist/
